<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato:400,900" rel="stylesheet">
</head>

<style type="text/css">
  
{% include style.css %}

</style>

<body>

  <main><!-- Begin main document -->

    <header><!-- Begin header -->
      <img src="../_img/logo-HW.png" />
      <h1>{{ site.title }}</h1>
      <p>High quality custom handmade lure</p>
      <p>Handcrafted in Malaysia 🇲🇾</p>
    </header><!-- End header -->

    <nav>
      
      <ul>
        
        <li><a href="https://shopee.com.my/huzairyworks" title="Shopee Huzairy Works">Beli belah di Shopee Huzairy Works</a></li>
        <li><a href="https://www.facebook.com/huzairyworks" title="Facebook Huzairy Works">Facebook Page</a></li>
        <li><a href="https://www.instagram.com/huzairyworks/" title="Instagram Huzairy Works">Instagram</a></li>
        <li><a href="https://youtube.com/c/HuzairyWorksSportfishing?sub_confirmation=1" title="YouTube Huzairy Works">YouTube Channel Huzairy Works</a></li>
        <li><a href="https://www.facebook.com/groups/huzairyworks" title="Facebook Group Huzairy Works Sportfishing">Official Facebook Group</a></li>

      </ul>

    </nav>

  <hr />
